.accordionWrapper {
    position: relative;
    min-height: 50px;
    border: solid 1px #ccc;
    border-radius: 8px;
}

.accordion-body-container {
    box-sizing: border-box;
    overflow-y: auto;
}

.accordion {
    will-change: transform;
    transform-origin: top center;
    overflow: hidden;
    contain: content;
    will-change: transform;
    animation-duration: 200ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    position: absolute;

    .main {
        transform-origin: top center;
        will-change: transform;
        animation-duration: 200ms;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
}

.accordion-summary {
    padding: 16px;
    border: none;
    cursor: pointer;
}

.accordion-body {
    padding: 0 16px 16px;
}

.line {
    margin-top: 2px;
    margin-bottom: 16px;
    border-bottom: solid 1px #ccc;
}

.accordion-expanded {
    position: static;
}

.accordion-icon {
    transition: transform $motion-duration-fast;

    &.expanded-icon {
        transform: rotate(180deg);
    }
}
